@inherits Soenneker.Quark.Components.Element

<main @attributes="BuildAttributes()">
	@ChildContent
</main>

@code {
	protected override Dictionary<string, object> BuildAttributes()
	{
		Dictionary<string, object> attributes = base.BuildAttributes();
    		AppendToClassAttr(attributes, "flex-grow-1");
		return attributes;
	}
}


